<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Input bubble</title>
</head>
<body>
	<form action="javascript:void(0)" method="POST">
		<input type="text" value="1">
		<input type="text" value="2">
	</form>
	<!-- TODO: почему этот код не работает -->
	<script>
		document
			.querySelector('form')
			.addEventListener('focus', ({ target: { tagName, value } }) => {
				if (tagName !== 'INPUT') return
				alert(value)
			})
	</script>
</body>
</html>