<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
				content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Simple search</title>
</head>
<body>
	<input type="text" placeholder="search">
	<ul>
		<li>Машина</li>
		<li>Самолет</li>
		<li>Теплоход</li>
		<li>Самокат</li>
		<li>Ролики</li>
		<li>Ведро</li>
	</ul>
	<!-- TODO: написать поиск по списку не меняя HTML структуру -->
	<script>

	</script>
</body>
</html>